<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<body>

<%- include ../layouts/menubar.ejs %>

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Conversation with [name]</h3>
                <p><a href="/listings-individual" class="preview-listing">Preview - 2018 Rolex Celini</a></p>
                <div class="message-actions">
                    <div><a href="/my-messages"><i class="fas fa-caret-left"></i>&nbsp;Back</a></div>
                    <div><a href="#"><i class="far fa-trash-alt"></i>&nbsp;Delete</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="conversation">
                    <div class="conversation-message conversation-message-sent">
                        <div class="conversation-message-header">
                            <div>Your message</div>
                            <div>10 dec, 4:52 pm</div>
                        </div>
                        <div class="conversation-message-body">
                            Proin eu quam bibendum, dapibus purus ut, rhoncus eros
                        </div>
                    </div>
                    <div class="conversation-message conversation-message-received">
                        <div class="conversation-message-header">
                            <div>John Doe - <a href="#">2018 Rolex Celini</a></div>
                            <div>
                                <div>10 dec, 4:42 pm</div>
                                <div><a href="#" class="conversation-message-block"><i class="fas fa-ban"></i> Block</a></div>
                            </div>
                        </div>
                        <div class="conversation-message-body">
                            Proin eu quam bibendum, dapibus purus ut, rhoncus eros
                        </div>
                    </div>
                    <div class="conversation-message conversation-message-sent">
                        <div class="conversation-message-header">
                            <div>Your message</div>
                            <div>10 dec, 4:52 pm</div>
                        </div>
                        <div class="conversation-message-body">
                            Proin eu quam bibendum, dapibus purus ut, rhoncus eros
                        </div>
                    </div>
                    <div class="conversation-message conversation-message-received">
                        <div class="conversation-message-header">
                            <div>John Doe - <a href="#">2018 Rolex Celini</a></div>
                            <div>
                                <div>10 dec, 4:42 pm</div>
                                <div><a href="#" class="conversation-message-block"><i class="fas fa-ban"></i> Block</a></div>
                            </div>
                        </div>
                        <div class="conversation-message-body">
                            Proin eu quam bibendum, dapibus purus ut, rhoncus eros
                        </div>
                    </div>
                    <div class="conversation-message conversation-message-sent">
                        <div class="conversation-message-header">
                            <div>Your message</div>
                            <div>10 dec, 4:52 pm</div>
                        </div>
                        <div class="conversation-message-body">
                            Proin eu quam bibendum, dapibus purus ut, rhoncus eros
                        </div>
                    </div>
                    <div class="conversation-message conversation-message-reply">
                        <div class="conversation-message-body">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="conversation-message-box-frame">
                                        <textarea class="conversation-message-box-text" placeholder="Your message" rows="5"></textarea>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-sm btn-accent">Send&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="conversation-message-disclaimer">
                                        <ul>
                                            <li>Donec vel orci in metus elementum vehicula id non turpis. Cras vel porttitor velit.</li>
                                            <li>Nunc blandit purus aliquam dignissim ullamcorper. Etiam sollicitudin volutpat pellentesque. Ut sem justo, dictum et ultrices in, ornare non odio.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include ../layouts/footer.ejs %>

</body>
</html>
