<head>

    <meta charset="UTF-8">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %> • BezelHeads </title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="/assets/plugins/cropperjs/cropper.css" />
    <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css" />


    <link rel="stylesheet" href="/assets/plugins/dropzone/basic.css">
    <link rel="stylesheet" href="/assets/plugins/dropzone/dropzone.css">
    <script src="/assets/plugins/dropzone/dropzone.js"></script>

    <link rel="stylesheet" href="/assets/css/backend_style.css" />
</head>

