$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1400px
);

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: $grid-breakpoints(xs);
  --breakpoint-sm: $grid-breakpoints(sm);
  --breakpoint-md: $grid-breakpoints(md);
  --breakpoint-lg: $grid-breakpoints(lg);
  --breakpoint-xl: $grid-breakpoints(xl);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

//FONTS//

$font-stack-primary: "sofia-pro", sans-serif;
$font-size: 16px;
$p-line-height: 1.65;

//FONTS//

$bg-body: #fcfcfc;
$color-primary: #444884;
$color-secondary: #C4A03D;
$color-accent: #0B80FE;
$color-gray: #dadada;
$color-dark: black;

//MIXINS//

@mixin overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}